<div class="fd-input-group">
  <select class="fd-input fd-input--compact fd-input-group__input {{value}}"
          #select
          (change)="onInputValueChange(select.value)">
    <option value="" [selected]="value === undefined"></option>
    <ng-container *ngFor="let member of getEnumMembers()">
      <option [value]="member.value" [selected]="value === member.value">{{member.label}}</option>
    </ng-container>
  </select>
</div>
<app-context-menu-control *ngIf="isArrayItem">
  <app-base-value-control
    [allowDeleteButton]="isArrayItem"
    (onDeleteValueButtonClick)="onDeleteValueButtonClick($event)"
  ></app-base-value-control>
  <app-array-element-control></app-array-element-control>
</app-context-menu-control>
