<div class="header controls" [ngClass]="{'aria-collapsed': !ariaExpanded || value == null}">
  <button class="fd-button fd-button--transparent is-expanded fd-button--compact"
          [disabled]="value == null"
          [attr.aria-expanded]="ariaExpanded"
          (click)="ariaExpanded = !ariaExpanded">
    <i [ngClass]="{'sap-icon--slim-arrow-down': !ariaExpanded, 'sap-icon--slim-arrow-up': ariaExpanded}"></i>
  </button>
  <span>Обьект {{value != null ? "" : "(Не задан)"}}</span>
  <app-context-menu-control>
    <app-base-value-control
      [allowDefineButton]="value == null"
      [allowDeleteButton]="value != null"
      (onDefineValueButtonClick)="onDefineValueButtonClick($event)"
      (onDeleteValueButtonClick)="onDeleteValueButtonClick($event)"
    >
    </app-base-value-control>
    <app-array-element-control
      *ngIf="isArrayItem"
    ></app-array-element-control>
  </app-context-menu-control>
</div>

<ng-container *ngIf="ariaExpanded && value != null">
  <div class="spacer"></div>
  <ng-container *ngFor="let keyValue of typeFinderService.getTypeDescription(type, typeGraph) | keyvalue">
    <div class="property-key-value">
      <div class="property-key" [title]="keyValue.key">
        {{getPropertyNameLocalisation(keyValue.key)}}:
      </div>
      <ng-container
        *ngIf="typeFinderService.isArray(keyValue.value)">
        <app-array-property-view class="property-value"
                                 [value]="getValue(value, keyValue.key)"
                                 [key]="keyValue.key"
                                 [root]="root"
                                 [owner]="value"
                                 [ownerType]="type"
                                 [path]="path + '.' + keyValue.key"
                                 [typeFinderService]="typeFinderService"
                                 [typeGraph]="typeGraph"
                                 [objectStateType]="objectStateType"
                                 [type]="keyValue.value"
                                 [enumMembersLocalisation]="enumMembersLocalisation"
                                 [propertyNameLocalisation]="propertyNameLocalisation"
                                 [isArrayItem]="false"
        ></app-array-property-view>
      </ng-container>
      <ng-container
        *ngIf="typeFinderService.isObject(keyValue.value, typeGraph)">
        <app-object-property-view class="property-value"
                                  [value]="getValue(value, keyValue.key)"
                                  [key]="keyValue.key"
                                  [root]="root"
                                  [owner]="value"
                                  [ownerType]="type"
                                  [path]="path + '.' + keyValue.key"
                                  [typeFinderService]="typeFinderService"
                                  [typeGraph]="typeGraph"
                                  [objectStateType]="objectStateType"
                                  [type]="keyValue.value"
                                  [enumMembersLocalisation]="enumMembersLocalisation"
                                  [propertyNameLocalisation]="propertyNameLocalisation"
                                  [isArrayItem]="false"
        ></app-object-property-view>
      </ng-container>
      <ng-container
        *ngIf="typeFinderService.isNumber(keyValue.value)">
        <app-number-property-view class="property-value"
                                  [value]="getValue(value, keyValue.key)"
                                  [key]="keyValue.key"
                                  [root]="root"
                                  [owner]="value"
                                  [ownerType]="type"
                                  [path]="path + '.' + keyValue.key"
                                  [type]="keyValue.value"
                                  [typeFinderService]="typeFinderService"
                                  [propertyNameLocalisation]="propertyNameLocalisation"
                                  [isArrayItem]="false"
        ></app-number-property-view>
      </ng-container>
      <ng-container
        *ngIf="typeFinderService.isString(keyValue.value)">
        <app-string-property-view class="property-value"
                                  [value]="getValue(value, keyValue.key)"
                                  [key]="keyValue.key"
                                  [root]="root"
                                  [owner]="value"
                                  [ownerType]="type"
                                  [path]="path + '.' + keyValue.key"
                                  [type]="keyValue.value"
                                  [typeFinderService]="typeFinderService"
                                  [propertyNameLocalisation]="propertyNameLocalisation"
                                  [isArrayItem]="false"
        ></app-string-property-view>
      </ng-container>
      <ng-container
        *ngIf="typeFinderService.isBoolean(keyValue.value)">
        <app-boolean-property-view class="property-value"
                                   [value]="getValue(value, keyValue.key)"
                                   [key]="keyValue.key"
                                   [root]="root"
                                   [owner]="value"
                                   [ownerType]="type"
                                   [path]="path + '.' + keyValue.key"
                                   [type]="keyValue.value"
                                   [typeFinderService]="typeFinderService"
                                   [propertyNameLocalisation]="propertyNameLocalisation"
                                   [isArrayItem]="false"
        ></app-boolean-property-view>
      </ng-container>
      <ng-container
        *ngIf="typeFinderService.isAny(keyValue.value)">
        <app-any-property-view class="property-value"
                               [value]="getValue(value, keyValue.key)"
                               [key]="keyValue.key"
                               [root]="root"
                               [owner]="value"
                               [ownerType]="type"
                               [path]="path + '.' + keyValue.key"
                               [type]="keyValue.value"
                               [typeFinderService]="typeFinderService"
                               [propertyNameLocalisation]="propertyNameLocalisation"
                               [isArrayItem]="false"
        ></app-any-property-view>
      </ng-container>
      <ng-container
        *ngIf="typeFinderService.isEnum(keyValue.value)">
        <app-enum-property-view class="property-value"
                                [value]="getValue(value, keyValue.key)"
                                [key]="keyValue.key"
                                [root]="root"
                                [owner]="value"
                                [ownerType]="type"
                                [path]="path + '.' + keyValue.key"
                                [typeFinderService]="typeFinderService"
                                [typeGraph]="typeGraph"
                                [type]="keyValue.value"
                                [enumMembersLocalisation]="enumMembersLocalisation"
                                [propertyNameLocalisation]="propertyNameLocalisation"
                                [isArrayItem]="false"
        ></app-enum-property-view>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
