<button class="fd-button fd-button--ghost fd-button--positive fd-button--compact" (click)="onCreateButtonClick.emit()">
  <span class="fd-button__text">Создать</span>
</button>
<button class="fd-button fd-button--ghost fd-button--compact" (click)="onEditButtonClick.emit()">
  <span class="fd-button__text">Изменить</span>
</button>
<button class="fd-button fd-button--ghost fd-button--negative fd-button--compact" (click)="onDeleteButtonClick.emit()">
  <span class="fd-button__text">Удалить</span>
</button>
