<div class="fd-form-item">
  <label class="fd-form-label">
    {{ label }}
  </label>
  <div class="fd-popover">
    <div class="fd-popover__control" aria-expanded="true" aria-haspopup="true">
      <div class="fd-input-group fd-input-group--control">
        <div class="fd-tokenizer">
          <div class="fd-tokenizer__inner">
            <input class="fd-input fd-input fd-input-group__input fd-tokenizer__input"
                   #inputElement
                   (change)="onInputValueChange(inputElement.value)"
                   [value]="inputValue$ | async"
                   [placeholder]="inputPlaceholder"
                   [disabled]="inputDisabled"
                   (click)="showSuggestions = true"/>
          </div>
        </div>
      </div>
    </div>
    <div class="fd-popover__body fd-popover__body--no-arrow fd-popover__body--dropdown fd-popover__body--dropdown-fill"
         [attr.aria-hidden]="!showSuggestions">
      <div class="fd-popover__wrapper">
        <ng-content select="app-input-suggestion"></ng-content>
      </div>
    </div>
  </div>
</div>
