<div class="position-control-group control-group">
  <app-coll-dragger
    [column]="column"
    (onColumnPositionChangeRequest)="onColumnPositionChange($event)"
  ></app-coll-dragger>
</div>

<div class="sort-control-group control-group">
  <span class="sap-icon sap-icon--navigation-down-arrow"
        style="padding:0 2px"
        [ngClass]="{'active': sortOrder === getSortOrderByString('desc')}"
        (click)="onSortClick(getSortOrderByString('desc'))"></span>
  <span class="sap-icon sap-icon--navigation-up-arrow"
        style="padding:0 2px"
        [ngClass]="{'active': sortOrder === getSortOrderByString('asc')}"
        (click)="onSortClick(getSortOrderByString('asc'))"></span>
</div>
